<div class="card">
    <div class="card-header">
        <h4>Danh mục</h4>
    </div>
    <ul class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action">Kiểm thử và triển khai</a>
        <a href="#" class="list-group-item list-group-item-action">SQL Server</a>
        <a href="#" class="list-group-item list-group-item-action">Điện toán đám mây</a>
        <a href="#" class="list-group-item list-group-item-action">Lập trình PHP</a>
        <a href="#" class="list-group-item list-group-item-action">Lập trình Android nâng cao</a>
        <a href="#" class="list-group-item list-group-item-action">Thiết kế giao diện trên Android</a>
        <a href="#" class="list-group-item list-group-item-action">Điện toán đám mây</a>
        <a href="#" class="list-group-item list-group-item-action">Lập trình ASP.NET</a>
        <a href="#" class="list-group-item list-group-item-action">SQL Server</a>
        <a href="#" class="list-group-item list-group-item-action">HTML5 và CSS3</a>
        <a href="#" class="list-group-item list-group-item-action">Lập trình game 2D</a>
        <a href="#" class="list-group-item list-group-item-action">Lập trình Java nâng cao</a>
        <a href="#" class="list-group-item list-group-item-action"></a>
    </ul>
</div>