<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="navCtrl">
    <a class="navbar-brand" href="#!/index">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#!/about-us">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/contact">Liên hệ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/feedback">Góp ý</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/question">Hỏi đáp</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tài khoản
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#!/register">Đăng ký</a>
                    <a class="dropdown-item" href="#!/login" ng-if="isLogin() === false">Đăng nhập</a>
                    <a class="dropdown-item" href="forget.html">Quên mật khẩu</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#!/list" ng-if="isLogin() === true">Các thành viên</a>
                    <a class="dropdown-item" href="#!/logout" ng-if="isLogin() === true">Đăng xuất</a>
                    <a class="dropdown-item" href="change-password.html" ng-if="isLogin() === true">Đổi mật khẩu</a>
                    <a class="dropdown-item" href="update-acc.html" ng-if="isLogin() === true">Cập nhật tài khoản</a>
                </div>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0" ng-controller="SubjectCtrl">
            <input class="form-control mr-sm-2" ng-model="search.Name" type="search" placeholder="Tìm kiếm">
        </div>
    </div>
</nav>