<h1 class="text-center margin-top display-4">Góp ý</h1>
<div class="row">
    <p class="text-break font-weight-light padding-lr">Chân thành cảm ơn Quý khách đã tín nhiệm và sử dụng các
        dịch vụ của chúng tôi. Với mong muốn không ngừng nâng cao chất lượng sản
        phẩm để phục vụ khách hàng ngày càng tốt hơn,
        chúng tôi rất mong Quý khách dành ít thời gian đóng góp ý kiến theo bảng dưới đây, hoặc Quý khách cũng
        có thể góp ý trực tiếp bằng thư điện tử qua email:
        testpoly@gmail.com</p>
</div>
<div class="row">
    <form class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Họ và tên</label>
                    <input type="text" class="form-control" placeholder="Tên của bạn">
                </div>
                <div class="form-group">
                    <label>Tuổi</label>
                    <input type="text" class="form-control" placeholder="Tuổi của bạn">
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input type="text" class="form-control" placeholder="SĐT của bạn">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Email của bạn">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">

                <div class="form-group">
                    <label>Chủ đề</label>
                    <input type="text" class="form-control" placeholder="Chủ đề">
                </div>
                <div class="form-group">
                    <label>Nội dung</label>
                    <textarea class="form-control" rows="5" placeholder="Nội dung góp ý"></textarea>
                </div>


            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-danger">Gửi ý kiến</button>
        </div>
    </form>
</div>