<div class="container"><h1 class="text-center text-danger">Hỏi & Đáp</h1></div>
<div class="row margin-top">
    <article class="col-sm-6">
        <h3 class="">Các câu hỏi thường gặp</h3>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Làm thế nào để tham gia thi trắc nghiệm?
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        Trước hết, bạn phải đăng ký tài khoản trên thanh menu <b>"Tài khoản"</b> > <b>"Đăng
                        ký"</b>.
                        Sau đó bạn vào <b>Trang chủ</b> và chọn môn thi, bạn sẽ thấy danh sách câu hỏi và các
                        câu trả lời. Bạn hãy chọn đáp án và click <b>Lưu</b>, bạn sẽ thấy điểm số của mình sau
                        khi hoàn thành bài trắc nghiệm.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Làm sao để đổi mật khẩu tài khoản?
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        Trên thanh menu, chọn <b>"Tài khoản"</b> > <b>"Đổi mật khẩu"</b>.
                        Sau đó nhập mật khẩu hiện tại và nhập mật khẩu mới, tiếp theo click <b>Đổi mật khẩu</b>.
                        Vậy là đổi mật khẩu thành công.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                            Collapsible Group Item #3
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                        squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                        nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="col-sm-6">
        <form>
            <div class="form-group">
                <label>Họ và tên</label>
                <input type="text" class="form-control" placeholder="Tên của bạn">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email của bạn">
            </div>
            <div class="form-group">
                <label>Câu hỏi</label>
                <input type="text" class="form-control" placeholder="Câu hỏi của bạn?">
            </div>
            <button type="submit" class="btn btn-outline-danger">Gửi đi</button>
        </form>
    </article>
</div>