<div ng-controller="loginCtrl">
    <!--    <div ng-if="info === false">-->
    <div class="container"><h1 class="text-center margin-top display-4">Đăng nhập</h1></div>
    <div class="row margin-top">
        <div class="col"></div>
        <div class="col-sm-6">
            <form>
                <div class="form-group">
                    <label>Tên tài khoản</label>
                    <input type="text" class="form-control" ng-model="student.username" placeholder="Tên tài khoản">
                </div>
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input type="password" class="form-control" ng-model="student.password" placeholder="Mật khẩu">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Nhớ tài khoản</label>
                </div>
                <div class="text-center">
                    <button type="button" type="submit" class="btn btn-outline-danger" ng-click="checkLogin()">Đăng nhập</button>
                </div>

            </form>
            <div class="alert alert-light" role="alert">
                Nếu bạn chưa có tài khoản <a href="#!/register" class="alert-link">Đăng ký</a>. <a href="#"
                                                                                                     class="alert-link">Quên
                mật khẩu?</a>.
            </div>
            <div class="alert alert-danger" ng-if="errorMessage != null">{{errorMessage}}</div>
        </div>
        <div class="col"></div>
    </div>
    <!--    </div>-->
    <div ng-if="info === true" ng-include="'views/students/info.html'">
    </div>
</div>