<div ng-controller="logoutCtrl">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-8">
            <div class="card" style="width: 100%">
                <div class="card-header">
                    Chú ý
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bạn có muốn đăng xuất?</h5>
                    <button type="button" class="btn btn-danger" ng-click="logout()">Có</button>
                    <button type="button" class="btn btn-secondary" ng-click="cancelLogout()">Không</button>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>